/* Import a better font */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}


#bottom {
    width: 100%;
    height: 30px;
    top: 9px;
    margin-left: 0px;
    border-bottom: solid 1px #333333;
}

#colunas strong {
    font-family: Tahoma;
    font-size: 12px;
    color: #2580a2;
}

#rodape {
    width: 800px;
    min-height: 256px;
    background: url(images/bg_rodape.gif) repeat-x;
}

#l_topo {
    background: url(images/l_topo.jpg);
    background-repeat: repeat-x;
}

#r_topo {
    background: url(images/r_topo.jpg);
    background-repeat: repeat-x;
}

td {
    background-repeat: repeat-x;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.bnr_topo {
    background-color: #036582;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
}

.bnr_portal {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    font-weight: bold;
}

.bnr_academico {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    font-weight: bold;
}

.tela_login {
    width: 100%;
    margin: 2px auto;
}

.box_login {
    transition: 200ms;
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #036582;
    font-weight: normal;
}

.box_login:focus {
    border-bottom: 2px solid #034f66;
}

.box_login:hover {
    border-bottom: 2px solid #034f66;
}

.btn_login {
    font-family: 'Roboto', sans-serif;
    height: 35px;
    font-size: 16px;
    color: #FFFFFF;
    background-size: 100%;
    background-color: #036582;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    transition: 200ms;
}

.btn_login:hover {
    background-color: #034f66;
}

.fundo_top {
    background-color: #f5f5f5;
}

#frame_reload {
    height: 0px;
}

#stylefour {
    position: relative;
    display: block;
    height: 30px;
    font-size: 11.6px;
    font-weight: bold;
    font-family: Open Sans, Sans-Serif, Arial, Helvetica;
    background: none;
}

#stylefour ul {
    list-style-type: none;
    background: none;
}

#stylefour ul li {
    background: none;
    display: block;
    text-align: left;
    width: 230px;
}

#stylefour ul li a {
    display: block;
    color: #666;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    background: none;
    transition: 50ms;
    width: 230px;
    font-size: 13.2px;
}

#stylefour ul li a:hover,
#stylefour ul li a.current {
    color: #036582;
    border: none;
    border-left: solid 2px #036582;
    background: none;
    width: 100%;
}

.dados_botao_boleto {
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    background: none;
    font-size: 15px;
    background-color: #036582;
    color: white;
    height: 30px;
    transition: 200ms;
    padding-right: 5px;
    padding-left: 5px;
}

.dados_botao_boleto:hover {
    background: none;
    background-color: #01526b;
    color: white !important;
}


/* messages table */
tr.lovelyrow1 {
    transition: 200ms;
}

tr.lovelyrow2 {
    transition: 200ms;
}

.lovelyrow2 tr {
    font-weight: normal;
    color: #535353;
}

.lovelyrow2 .nicepadding {
    font-weight: lighter;
    color: #535353;
}

.Grade {
    border-radius: 0px;
    border: none;
    background-color: #034f66;
}

.Grade .Descricoes {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: #034f66;
}

.Grade .LinhaImpar {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 13px;
    background-color: #f7f7f7;
    border-color: #034f66;
}

.GradeNotas {
    margin-top: -1px;
    border-radius: 0px;
    margin-left: 15px;
}


#abas {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    box-shadow: none;
    background: none;
}

#abas li {
    background: none;
    background-color: transparent;
    border: solid 1px #CCCCCC;
    border-bottom-width: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 20px 0px 20px;
    transition: 200ms;
}

#abas li a {
    background: none;
    transition: 200ms;
}

#abas li:hover {
    cursor: pointer;
    background-color: #dfdfdf;
}

#abas li:hover a {
    color: black;
}

.titulo {
    margin-left: 15px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    border: solid 1px #CCCCCC;
}